backports.entry-points-selectable==1.1.1
black==21.12b0
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
distlib==0.3.3
filelock==3.3.2
isort==5.10.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
Pillow==8.4.0
pipenv==2021.11.23
platformdirs==2.4.0
pycodestyle==2.8.0
six==1.16.0
toml==0.10.2
tomli==1.2.2
typing_extensions==4.0.1
virtualenv==20.10.0
virtualenv-clone==0.5.7
wrapt==1.13.3
